<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css'>
    <script src='/javascripts/jquery.js'></script>
    <script src='/javascripts/underscore.js'></script>
    <script src='/javascripts/backbone.js'></script>
    <script src='/bundle.js'></script>
  </head>
  <body>
    <script>
      (function() {
        var MusicTheory = require('musictheory');
        this.App = new MusicTheory({
          env: 'development'})})()
    </script>
  </body>
</html>
